*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      
}
a{
    text-decoration: none;
    color: #fff;
}
h1{
    font-family: "Nanum Myeongjo";
    margin-bottom: 10px;
    text-align: center;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
}

body nav {
    position: absolute;
    background: #333;
    width: 100%;
    font-weight: 1.7em;
    /* overflow: auto; */
}
.header nav h1{
    float: left;
    padding: 20px;
    margin-bottom: 0px;
    color: white;
    font-family: "indie flower";
}
.header nav ul{
    float: right;
    list-style: none;

}
.header nav ul li{
    float: left;
    display: inline;
    

}
.header nav ul li a{
    padding: 20px;
    display: block;
}
.header nav ul li a:hover{
    padding: 20px;
    background:#7C6666;
}
.content{
    width: 100%;
    background: url(../Images/imagefont.jpg) center center /cover;
    height: 500px;
    text-align: center;
    margin-top: 0px;
} 
.content-vp{
    /* display: flex; */
    margin: auto;
    max-width: 600px;
    padding-top: 150px;
    color: white;
}
.content-vp h2{
    font-size: 50px;
}
.content-vp p{
    font-size: 15px;
    line-height: 1.7em;
    font-family: "Nanum Myeongjo", serif;
}
.fa-crown{
    color: #ffa500;
}
h2{
    /* display: flex; */
    padding-top: 150px;
    text-align: center;
    width: 100%;
}

.collaborateur{
    padding: 20px;
    margin: 10px 20px 20px 10px;
    width: 100px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    
    
}
.jesyon{
    width: 300px;
     margin-bottom: 30px;
     margin: 20px;
     box-sizing: border-box;
     position: relative;
     display:block;
     max-width: 250px;
     height: 20px;
     object-fit: cover;
}

.jesyon p{
    text-align: justify;
    font-size: 1em;
    font-family: "Nanum Myeongjo", serif;
    padding: 1px px 1px 0px;
    display: block;
}
.jesyon img{
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    left: 0px;
    display: flex;
    justify-content: center;
    object-fit: cover;
   margin-bottom: 10px;
    
}#container-equipe {
    margin-top: 100px;
    float: left;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0px 300%;
    margin-bottom: 40px;
  }
  
#container-equipe img {
    width: 100%;
    float: left;
    margin-bottom: 17px;
    
}
/* .jesyon{
    background-color: rgb(250, 246, 246);
    text-align: center;
} */
.pied-de-page {
  text-align: center;
  padding: 20px 15px;
  background-color: #333; 
  height: 85px;
  margin-top: 550px;
  width: -auto;
  font-family: "Nanum Myeongjo", serif;
}  
.pied-de-page{
  margin-bottom: 0px;
}
@media only screen and (max-width: 767px) {
    /* Ajoutez des styles pour les petits écrans ici */
    .header nav ul {
        display: flex; /* Cache la navigation principale sur les petits écrans */
        background-color: rgba(255, 217, 0, 0.11);
        margin-top: 13vw;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        justify-content: space-evenly;
        
        
    }
    .header nav{
        padding: 0;
    }
    .header nav h1{
       width: 100%;
    }
    .header nav {
        padding: 10px;
    }

    .header nav h1 {
        margin: 0;
    }

    .header nav ul li {
        display: block;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }
}