/* Pour la barre de navigation */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: "Nanum Myeongjo";
    margin-bottom: 10px;
    text-align: center;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
}

body nav {
    position: absolute;
    background: #333;
    width: 100%;
    font-weight: 1.7em;
    overflow: auto;
}

.header nav h1 {
    float: left;
    padding: 20px;
    margin-bottom: 0px;
    color: white;
    font-family: "indie flower";
}

.header nav ul {
    float: right;
    list-style: none;
}

.header nav ul li {
    float: left;
    display: inline;
}

.header nav ul li a {
    padding: 20px;
    display: block;
}

.header nav ul li a:hover {
    padding: 20px;
    background: #7C6666;
}

.content {
    width: 100%;
    background: url(../Images/imagefont.jpg) center center/cover;
    height: 500px;
    text-align: center;
    margin-top: 0px;
}

.content-vp {
    margin: auto;
    max-width: 600px;
    padding-top: 150px;
    color: white;
}

.content-vp h2 {
    font-size: 50px;
}

.content-vp p {
    font-size: 15px;
    line-height: 1.7em;
    font-family: "Nanum Myeongjo", serif;
}

.fa-crown {
    color: orange;
}

.titre {
    padding-left: 70px;
    width: 100%;
    float: left;
    font-size: 20px;
    margin-top: 4vw;

}

#container {
    margin-top: 20px;
    width: 100%;
    height: 60vh;
    display: flex;
    gap: 30px;
    padding: 0px 50px;
    margin-bottom: 4vw;
}

#container img {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    height: 260px;
    object-fit: cover;
}

.feature-1 {
    display: block;
    background-color: rgb(250, 246, 246);
    text-align: center;
    height: 100%;
    width: 30%;
   
}
.texte{
    display: inline-block;
    min-width: 150px;
    font-size: 15px;
}
/* section equipe_image */
.notre-equipe {
    width: 100%;
    float: left;
    display: flex;
    gap: 0px;
    background-color: rgba(51, 51, 51);
    margin-bottom: 20px;
}

.image_equipe {
    width: 100%;
}

.notre-equipe img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.equipe-text {
    margin: auto 32px;
    text-align: justify;
    line-height: 23px;
    color: white;
    width: 90%;
    font-family: "Nanum Myeongjo", serif;
}

.notre-equipe h2 {
    padding-bottom: 2%;
    font-family: "Nanum Myeongjo", serif;
}

/* Section des formes de commentaires */
.commentaires {
    width: 65vw;
    margin: 20px 0 0 15%;
    padding: 20px;
    justify-content: center;
}

h4 {
    font-family: "Nanum Myeongjo", serif;
    padding-top: 20px;
    margin-top: 25px;
    padding-left: 65px;
}

.rows {
    padding-top: 5px;
    width: 100%;
    justify-content: center;
}

.comment-1 {
    overflow: hidden;
    margin-top: 20px;
    background: #fff;
    display: flex;
    height: auto;
    text-align: center;
    align-items: center;
    padding-right: 10px;
   
}

.image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
    margin-left: 15%;
    padding: 10px;
   
}
.image h5 {
    font-size: 10px;
  
}

.text-com {
    text-align: justify;
    font-size: 15px;
    width: 80%;
    margin: 2rem 3rem ;
    font-family: "Nanum Myeongjo", serif;
}

/* Section footer */
footer {
    text-align: center;
    padding: 20px 0px;
    background-color: #333;
    height: 60px;
    width: 100%;
    font-family: "Nanum Myeongjo", serif;
}

footer p {
    margin-bottom: 5px;
    color: #fff;
}


/* Styles pour les écrans de taille moyenne à grande */
@media only screen and (min-width: 768px) {
    /* Réorganisez la mise en page pour une meilleure disposition */
    .header nav ul {
        float: right;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header nav ul li {
        float: none;
        display: inline-block;
    }

    .content {
        height: 600px; /* Ajustez la hauteur selon vos besoins */
    }

    #container {
        flex-wrap: wrap;
        justify-content: center;
    }

    #container img {
        width: 100%; /* Réglez la largeur de l'image pour occuper toute la largeur du conteneur */
        height: auto;
        margin-bottom: 20px;
    }

    .texte {
        width: 100%;
        margin-top: 10px;
    }

    .commentaires {
        width: 90%; /* Ajustez la largeur selon vos besoins */
        margin: 20px auto;
        padding: 20px;
    }

    .comment-1 {
        flex-direction: row; /* Ajustez la direction du flexbox */
    }

    .text-com {
        margin: 2rem 1rem; /* Ajustez la marge intérieure selon vos besoins */
        width: 70%;
    }
}


/* Styles pour les petits écrans */
@media only screen and (max-width: 767px) {
    /* Ajoutez des styles pour les petits écrans ici */
    .header nav ul {
        display: flex; /* Cache la navigation principale sur les petits écrans */
        background-color: rgba(255, 217, 0, 0.11);
        margin-top: 13vw;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        justify-content: space-evenly;
        
        
    }
    .header nav{
        padding: 0;
    }
    .header nav h1{
       width: 100%;
    }
    .header nav {
        padding: 10px;
    }

    .header nav h1 {
        margin: 0;
    }

    .header nav ul li {
        display: block;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }
    #container{
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .feature-1{
        width: 100%;
        padding-bottom: 1vw;
    }
    
    .notre-equipe{
        flex-direction: column;
    }
    .notre-equipe img{
        height: 30vh;
    }
    .comment-1{
        display: block;
        padding: 1vw;
    }
    .comment-1 div{
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
    }
    .comment-1 h5{
        font-size: larger;
        margin-top: 5%;
    }
    .content-vp h2 {
        font-size: 30px;
    }
}

